*{
    margin: 0;
    padding: 0;

}

.myNavUpper{
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: red;
    
}
.icons {
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 100px;
}
.navFeatures{
    font-size: small;
    margin-left: 150px;
}
.nav-list{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 20px;
}
.nav-list a{
    text-decoration: none;
    color: white;
}
.myNavLower{
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 10;
}
.myNavLower p{
    font-size: small;
}
.myNavLower h5{
    color: red;
}
.lowerNavFeatures{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.headerBar{
    width: 85%;
    /* border: 1px solid gray; */
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    justify-content:space-between;
    align-items: center;

    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.2);
}
.headerContent{
    display: flex;
    width: 80%;
    height: 55px;
    align-items: center;
    gap: 30px;
    margin-left: 20px;
    font-size: small;

    
}
.headerLabel {
    background-color: red;
    width: 150px;
    height: 40px; 
    margin-right: inherit;
    border-radius: 50px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white; 
}
.headerLabel p {
    margin: 0;
    font-size: 12px;
}
.cardBase{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    gap: 25px;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color:rgb(215, 255, 255);
    padding: 10px;
}
.about{
    margin: auto;
    width: 60%;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 150px;
}
.about h1{
    color: red;
    text-decoration: underline grey;
}
.about p{
    text-decoration: grey;
}
.formBase{
    margin-top: 10px;
    width: 100%;
    height: 500px;
    background-image: url(media/formBg.jpg);
    background-size: cover;
    background-position: center;   
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(210, 105, 30, 0.55);
    width: 60%;
    height: 100%;
}
.row{
    margin-top: 20px;
    display: flex;
    width: 100%;
    margin-top: 20px;
    align-items: center;
    justify-content: space-evenly
}
.moveType{
    width: 100%;
    margin-left: 160px;
    justify-content: flex-start;
}
.btn-container {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}
.submit-btn {
    background-color: #66cdaa; 
    color: #000;
    border: 1px solid #333;
    padding: 6px 16px;
    font-size: 13px;
    cursor: pointer;
    border-radius: 3px;
}
.bottomCards{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.cardCol{
    display: flex;
    flex-direction: column;
     
}
.bottomCard{
    width: 250px;
    height: 150px;
    background-color: rgb(164, 212, 255);
    margin-bottom: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    padding: 10px;
}
.bottomImage{
    width: 600px;
    height: 550px;
    background-image: url(media/footerImage.jpg);
    background-size: cover;
    background-position: center;  
}
.bottomCard:hover{
    box-shadow: 0 4px 3px 4px rgba(0, 0, 0, 0.2);
}
#bottomHeading1{
    color: blue;
}
#bottomHeading2{
    color: rgb(255, 0, 200);
}
#bottomHeading3{
    color: purple;
}
#bottomHeading4{
    color: green;
}
#bottomHeading5{
    color: yellow;
}
#bottomHeading6{
    color: red;
}
#bcard1:hover{
    box-shadow: 0 4px 3px 4px rgba(17, 0, 255, 0.826);
}
#bcard2:hover{
    box-shadow: 0 4px 3px 4px rgba(230, 0, 255, 0.826);
}
#bcard3:hover{
    box-shadow: 0 4px 3px 4px rgba(162, 0, 255, 0.826);
}
#bcard4:hover{
    box-shadow: 0 4px 3px 4px rgba(0, 255, 76, 0.826);
}
#bcard5:hover{
    box-shadow: 0 4px 3px 4px rgba(204, 255, 0, 0.826);
}#bcard6:hover{
    box-shadow: 0 4px 3px 4px rgba(255, 72, 0, 0.826);
}
