* {
  margin: 0%;
  padding: 0%;
}
body{
    background-color: black;
}
.base {
  position: relative;
}
.naruto {
  position: absolute;
  left: 150px;
  top: 50px;
  height: 500px;
  width: 400px;
  background: url(media/naruto-removebg-preview.png);
  background-size: contain;
  background-repeat: no-repeat;

  z-index: 10;
}
.rasengan-wrapper{
    position:absolute;
    animation: float 2s ease-in-out infinite;
    z-index: 15;
}
.rasengan {
  position: absolute;
  top: 12px;
  left: 135px;
  height: 130px;
  width: 100px;
  
  z-index: 11;
  
  /* filter:drop-shadow(0 0 8px #4dc3ff) drop-shadow(0 0 20px #2ea8ff) drop-shadow(0 0 40px #00bfff) drop-shadow(0 0 60px #6dd5ff); */
  animation:glow 1.2s infinite, pulse 1s infinite;

}
.layer{
   
    position:absolute;

    inset:0;

    background-image:url(media/rasenganCropped.png);
    background-repeat:no-repeat;
    background-position:center;
    background-size:100% 100%; 

}

.layer1{
    animation:spin1 .65s linear infinite;
}

.layer2{
    opacity:.5;
    animation:spin2 .38s linear infinite;
}

.layer3{

    opacity:.45;
    filter:blur(8px);
    transform:scale(1.2);
    animation:spin3 .22s linear infinite;
}

@keyframes spin1{

    from{
        transform:rotate(0deg);
    }

    to{
        transform:rotate(360deg);
    }

}
@keyframes spin2{

    from{
        transform:rotate(360deg);
    }

    to{
        transform:rotate(0deg);
    }

}
@keyframes spin3{

    from{
        transform:rotate(0deg) scale(1.2);
    }

    to{
        transform:rotate(-360deg) scale(1.2);
    }

}
@keyframes pulse{

    0%,100%{
        scale:0.5;
    }

    50%{
        scale:1.0;
    }

}
@keyframes glow{

    0%,100%{

        filter:
        drop-shadow(0 0 8px #4dc3ff)
        drop-shadow(0 0 20px #2ea8ff)
        drop-shadow(0 0 35px #00bfff);

    }

    50%{

        filter:
        drop-shadow(0 0 15px #4dc3ff)
        drop-shadow(0 0 35px #2ea8ff)
        drop-shadow(0 0 70px #00bfff);

    }

}
@keyframes float{

    0%,100%{
        translate:0 0;
    }

    50%{
        translate:0 -4px;
    }

}
