
body{
     background-color:#101010;
     color: white;
}

/*
.logo{
    margin-left: 30px;
    height: 100px;
    width:  200px;
}
    */
.nav-item{
    display: flex;
    margin-left: auto;
    margin-right: 30px;
    align-items: center;
}
.primary-btn{
    width: 150;
    background-color:#e50914;
    margin-left: 10px;
    color: white;
}
.lang-btn{
    color: #e50914;
}
.hero{
    color: white;
}
.heroText{
    margin-top: 50px;
}
.hero-search{
    width: 45%;
}
.pcontainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.partition-img{
    width: 350px;
    
}
footer{
    justify-content: space-evenly;
    color: #b3b3b3;
}
.footText{
    margin-left: 210px;
    margin-top: 60px;
    
}
.footer-links{
    display: flex;
    justify-content: space-evenly;
}
.footer-links a {
    display: block;
    margin-bottom: 12px;
    color: #b3b3b3;
    text-decoration: underline;
    font-size: 14px;
}

.footer-links a:hover {
    color: white;
}
#login-overlay{
    position: fixed;
    inset: 0;

    background: rgba(0,0,0,.6);

    display: none;

    justify-content: flex-end;
    padding-right:120px;
    padding-top: 25px;
    align-items: center;

    z-index: 999;
}

.login-box{

    width:420px;
    padding:45px;
    background:rgba(20,20,20,.75);
    backdrop-filter:blur(2px);

}

.login-box input::placeholder{
    color: white;
    opacity: 1;
}
